<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>The Ultimate Reversed String!</title>
  </head>
 
  <body>
 
    <!--   Use ERB tags to bring in an instance variable containing the reversed string -->
    <h2><%= @pigged %></h2>
  </body>
</html>