<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Now in Pig Latin!</title>
  </head>
  <body>
  <h1>Results!</h1>
  <h2>Your phrase in Pig Latin: <%= @piglatin %></h2>
  <p>(Your old phrase: <%= @original %>)</p>
  </body>
</html>
